<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=hpvtoll;AccountKey=JxjIjDGRb9f2VkJ76fAgNmVIobL37M0mr13+75qA4c68TkecDD0/joomxe/5PkluowuH9/ugoyi1fYAda7terA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>